body {
    position: relative;
}
body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(90deg, rgb(252, 154, 154), rgb(250, 116, 139));
    z-index: -1;
}
body::before{
    background-image: url(recipes/images/tasssepink.png);
    opacity: 0.3;
    background-size: 20% auto;
    position: fixed;
    z-index: 0;
    content:"";
    inset: 0;
    background-repeat: repeat;
}
body > * {
    position: relative;
    z-index: 1;
}
h1 {
    width: 400px;
    height: 50px;
    background-color: rgba(255, 192, 203, 1);
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Neue", cursive;
    box-shadow: 0px 0px 15px black;
    position: relative;
    z-index: 2;
    opacity: 0.8;
}
img {
    display: block;
    margin-left: auto; margin-right: auto;
    height: 270px;
    width: 480px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 15px black);
    position: relative;
    z-index: 1;
}
h1 + p, img + p {
    margin-top: 10px;
}
.textbox {
    font-family: "Comic Sans MS", "Comic Neue", cursive;
    background-color: rgba(255, 192, 203, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 700px;
    margin: 0px auto;
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
}